.main {
  padding-top: var(--header-height, 110px);
}

.content {
  max-width: 1210px;
  margin: 0 auto;
  padding: 100px 0;
  box-sizing: border-box;
  background-color: var(--color-bg);
  min-height: 100vh;
}

@media (max-width: 1240px) {
  .content {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* iPad landscape breakpoint: 768px - 1024px */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .content {
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 767px) {
  .content {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 85%;
    max-width: 85%;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

