.main {
  padding-top: var(--header-height, 110px);
}

.content {
  max-width: 1210px;
  margin: 0 auto;
  padding: 100px 0;
  box-sizing: border-box;
  background-color: var(--color-bg);
  min-height: 100vh;
}

@media (max-width: 1240px) {
  .content {
    padding-left: 20px;
    padding-right: 20px;
  }
}

