.container {
  width: 100%;
  max-width: var(--container-max);
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

@media (max-width: 990px) {
  .container {
    padding-left: 3.5%;
    padding-right: 3.5%;
  }
}
